@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Indie+Flower&display=swap');

body{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    color: white;
    background-color: rgb(16, 82, 2);
}

h5{
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 2rem;
}

.botao{
    background-color: #b616a9;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.bg{
    background-color: rgb(75, 71, 71);
}

.borda{
    border:5px outset rgb(255, 255, 255);
}

.titulo{
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 2rem;
}

.preco{
    font-size: 20px;
}

.total{
    font-size: 30px;
}

.centralizar{
    text-align: center;
}

.add{
    background-color: #1bb616;
}

.remove{
    background-color: rgb(207, 46, 46);
}

.teste :hover{
    color: blue;
}

.botao-texto{
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 1.2em;
}

.botao-secundario{
    background-color: #666466;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.cor-modal{
    color: rgb(43, 44, 44);
}

